# Dependency directories
node_modules/

# local configuration
.vscode/
.continue/
.logs
# .github/

# environment variable files
.env

# compiled files
dist/

# local files and assets
test.*
*.ods
*.xlsx
*.csv
*.png
